{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container my-auto">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-body p-4">
                        <h3 class="card-title text-center mb-4">Login</h3>
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Usuário ou senha inválidos. Por favor, tente novamente.
                        </div>
                        {% endif %}
                        <form action="{% url 'login:login' %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="UserName" class="form-label">Usuário</label>
                                <input type="text" class="form-control" id="UserName" name="username" placeholder="Digite seu usuário, e-mail ou CPF" required>
                            </div>

                            <div class="mb-3">
                                <label for="Password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="Password" name="password" placeholder="Digite sua senha" required>
                            </div>
                            
                            {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            {% endif %}

                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}